body {
  background-image: url("../img/background.jpeg");
  color: red;
  font-size: 20px;
  background-size: 100%;
}

h1 {
  background-color: gold;
  color: black;
  font-family: cursive;
}

h2 {
  background-color: orange;
  color: #654321;
}

ul {
  font-family: fantasy;
  background-color: green;
}

ol {
  color: #67FA34
}

img {
  border-color: orange;
  border-width: medium;
}

footer {
  text-align: right;
}
